

/* || Estilos Gerais
===================================================== */

* {
   margin: 0;
   padding: 0;
   border: none;
   line-height: 1;
   box-sizing: border-box;
}

html {
   font-family: roboto, arial, helvetica, sans-serif;
}

body {
   max-inline-size: 1440px;
}

strong {
   display: inline-block;
   padding: 5px 10px;
   border-inline-start: 5px solid #ffa500;
   background-color: #d6d6d6;
   border-radius: 5px;
}

caption {
   font-size: 1.2rem;
   font-weight: bold;
   margin: 20px auto;
   color: #000000;
}

/* || Header
===================================================== */

.header {
   background-color: #663399;
   padding: 20px;
}

.header__title {
   margin-block-end: 20px;
   color: #ffffff;
}

/* || Main
===================================================== */

.main {
   background-color: #d6d6d6;
   inline-size: 100%;
   block-size: 657px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.table {
   background-image: linear-gradient(90deg, #3727c9 0%, #9924c7 80%) ;
   border-radius: 20px;
   inline-size: 1200px;
   color: #ffffff;
   border-collapse: collapse;
}

.thead {
   background-color: #ffffff48;
}

.column__title {
   padding: 20px 0;
}

.row__title {
   padding: 15px 0;
}

/* || footer 
===================================================== */

.footer{
   background-color: #401769;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   block-size: 100px;
}

.footer__text {
   text-align: center;
   color: #ffffff;
}

.text__link {
   text-decoration: none;
}

.text__link--color {
   color: #ffffff;
}