

/* || Estilos Gerais
===================================================== */

* {
   margin: 0;
   padding: 0;
   border: none;
   line-height: 1;
   box-sizing: border-box;
}

html {
   font-family: roboto, arial, helvetica, sans-serif;
}

body {
   max-inline-size: 1440px;
}

strong {
   display: inline-block;
   padding: 5px 10px;
   border-inline-start: 5px solid #ffa500;
   background-color: #d6d6d6;
   border-radius: 5px;
}

/* || Header
===================================================== */

.header {
   background-color: #663399;
   padding: 20px;
}

.header__title {
   margin-block-end: 20px;
   color: #ffffff;
}

/* || Main
===================================================== */

.main {
   display: block;
   block-size: 100vh;
   background-color: #d6d6d6;
}

/* || footer 
===================================================== */

.footer{
   background-color: #401769;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   block-size: 100px;
}

.footer__text {
   text-align: center;
   color: #ffffff;
}

.text__link {
   text-decoration: none;
}

.text__link--color {
   color: #ffffff;
}