
/* || Estilos Gerais
===================================================== */

* {
   margin: 0;
   padding: 0;
   border: none;
   line-height: 1;
   box-sizing: border-box;
}

html {
   font-family: roboto, arial, helvetica, sans-serif;
}

body {
   max-inline-size: 1350px;
   min-inline-size: 1300px;
   margin: 0 auto;
}

strong {
   display: inline-block;
   padding: 5px 10px;
   border-inline-start: 5px solid #ffa500;
   background-color: #d6d6d6;
   border-radius: 5px;
}

caption {
   caption-side: top;
   text-align: right;
   padding: 10px;
   font-size: 0.8rem;
   font-weight: bold;
   margin: 10px auto;
   color: #000000;
   border-radius: 5px;
   background-image: linear-gradient(90deg, transparent 70% , #00000051);
}

/* || Header
===================================================== */

.header {
   background-color: #663399;
   padding: 20px;
}

.header__title {
   margin-block-end: 20px;
   color: #ffffff;
}

/* || Main
===================================================== */

.main {
   background-color: #cecece;
   inline-size: 100%;
   block-size: 657px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.table {
   table-layout: fixed;
   background-color: #9924c7;
   background-image: linear-gradient(90deg, #3727c9 0%, #9924c7 80%);
   border-radius: 20px;
   inline-size: 1250px;
   text-transform: uppercase;
   color: #ffffff;
   border-collapse: collapse;
}

.thead {
   background-color: #cecece7b;
}

.column__title {
   font: normal 400 0.9rem roboto, arial, sans-serif;
   text-align: left;
   padding: 20px;
}

.row__title {
   font: normal 400 0.9rem roboto, arial, sans-serif;
   text-align: left;
   padding: 15px 50px;
}

.row__data {
   font: normal 400 0.9rem roboto, arial, sans-serif;
   text-align: left;
   padding: 15px 20px;
}

/* || footer 
===================================================== */

.footer{
   background-color: #401769;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   block-size: 100px;
}

.footer__text {
   text-align: center;
   color: #ffffff;
}

.text__link {
   text-decoration: none;
}

.text__link--color {
   color: #ffffff;
}