
/* || Estilos Gerais
===================================================== */

* {
   margin: 0;
   padding: 0;
   border: none;
   line-height: 1;
   box-sizing: border-box;
}

html {
   font-family: roboto, arial, helvetica, sans-serif;
}

body {
   max-inline-size: 1350px;
   margin: 0 auto;
}

strong {
   display: inline-block;
   margin-bottom: 10px;
   padding: 7px 7px 7px 10px;
   border-inline-start: 5px solid #000000;
   background-color: #d6d6d6;
   border-radius: 5px;
}

caption {
   caption-side: top;
   text-align: left;
   padding: 10px;
   font-size: 0.8rem;
   font-weight: bold;
   margin: 10px auto;
   color: #000000;
   border-radius: 5px;
   background-image: linear-gradient(90deg, #00000051, transparent 25%);
}

th, td {
   font: normal 400 0.9rem roboto, arial, sans-serif;
   text-align: left;
}

/* || Header
===================================================== */

.header {
   background-color: #663399;
   min-block-size: 100px;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.header__title {
   font-size: 1.5rem;
   margin-bottom: 10px;
   color: #ffffff;
}

.btn {
   display: inline-block;
   margin: 0px 5px;
   padding: 4px 30px;
   background-color: #9924c7;
   border: 2px solid #ffffff;
   border-radius: 10px;
   font: normal bold 1rem roboto, arial, sans-serif;
   color: #ffffff;
   text-decoration: none;
   letter-spacing: 2px;
}

.btn:hover {
   background-color:#663399;
}

/* || Main
===================================================== */

.main {
   background-color: #cecece;
   padding: 20px;
   inline-size: 100%;
   overflow-x: auto;
}

.table {
   table-layout: fixed;
   background-color: #9924c7;
   background-image: linear-gradient(90deg, #3727c9 0%, #9924c7 80%);
   border-radius: 20px;
   inline-size: 1250px;
   margin: 10px auto 30px auto;
   text-transform: uppercase;
   color: #ffffff;
   border-collapse: collapse;
}

.thead {
   background-color: #cecece7b;
}

.column__title {
   padding: 20px;
}

.row__title {
   padding: 15px 50px;
}

.row__data {
   padding: 15px 20px;
}

/* || footer 
===================================================== */

.footer{
   background-color: #401769;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   block-size: 100px;
}

.footer__text {
   text-align: center;
   color: #ffffff;
}

.text__link {
   text-decoration: none;
   color: #ffffff;
}